.label {
    -fx-text-fill: #0a386e;
    -fx-font-family: "Franklin Gothic Medium";
}

#cajaContacto {
    -fx-border-color: #CBDFEA;
    -fx-border-radius: 2 2 2 2;
}

#cajaContacto:hover {
    -fx-background-color: #5a88be;
   
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
}
#cajaContacto:hover #labelCajaContacto{
 -fx-text-fill: #FFFFFF;
 
}
#labelCajaContacto {
-fx-font-family: "Franklin Gothic Medium";
-fx-text-fill: #000000;
}

.button { 
    -fx-background-color: #156ea2;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
}

.button:hover { -fx-background-color: #5a88be;
               
}

.button:pressed { -fx-background-color: #517196;
	-fx-text-fill: #FFFFFF;
	-fx-font-weight: bold;
}

.combo-box-base{
    -fx-background-color: -fx-shadow-highlight-color, #80a4d2;
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-cell {
    -fx-background-color: #90c3e2;
    -fx-text-fill: #0a386e;
}